.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/* Operator Styles */
.operator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.operator__button {
  outline: none;
  border: none;
  background-color: salmon;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Input Style */
.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.input__number {
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  padding: 6px 12px;
  margin-bottom: 4px;
}

.input__checkbox {
  width: 16px;
  height: 16px;
}
